body{
    background-image: url("images-business/vegan.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 33% 50%;
    height: 100%;
    font-family:'Montserrat', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    background-color: #27AE60;
    border-radius: 10px;
    color: white;  
    letter-spacing: 2px;  
}
h2{
    text-align: center;
    font-size: 40px;
    font-style: bold;
}
/* p{
    display: flex;
    justify-content: center;
    width: 70%;
    font-family:'Montserrat', sans-serif; */

.topnav{
    overflow: hidden;
    background-color:#27AE60;
    border-radius: 10px;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
}
.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    /* margin-top: px; */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
 
}
.topnav a:hover{
    background-color: #ABEBC6;
    color: white;
    border-radius: 10px;
}
.active{
    background-color: #27AE60;
    color: white;
}
.topnav .icon{
    display: none;
}
div.background {
    /* border: 3px solid black; */
  }
  
  div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 3px solid black;
    opacity: 0.8;
    /* width: 80%; */
    /* position: relative; */
  }
  
  div.transbox p {
    font-weight: bold;
    color: #000000;
    /* width: 80%; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    /* position: absolute; */
  }
  .footer{
    display: flex;
    justify-content: space-evenly;
    /* height: 50px; */
    background-color:#27AE60;
    padding: 5px;
    /* margin: 10px; */
    border-radius: 10px;
    letter-spacing: 1.5px;
}
.footer a:hover{
    background-color: #ABEBC6;
    color: #EAFAF1;
    border-radius: 10px;
}
.footer a{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 17px;
}
    

@media screen and (min-width: 800px){
    body{
       background-position: 42% 6%;
    }
} 

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
