html body {
    height: 100%;
    /* margin: 10px; */
    padding: 10px;
    background-color: #FAD53D;
}
header{
    font-family: 'Monoton', cursive;
    display: flex;
    justify-content: center;
    margin: auto;
} 
#baddies{
    font-family: 'Monoton', cursive; 
    display: flex;
    position: absolute;
    justify-content: space-around;
    background-color: #4285F4;
    margin-bottom: 20px
    /* height: %;     */
}
img{
    height: 200px;
    width: 200px;
}
button{
    height: 300px;
}
#baddies > div {
    flex: 1;
}
div{
    font-size: 15px;
    /* position: relative; */
    display: flex-end;
    /* border-style: solid; */
    padding: 20px;
    margin: 10px;
    justify-content: center;
}
.footerInfo{
    position: absolute;
    /* display: block; */
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
@media(max-width:900px){
    header{
        font-family: 'Monoton', cursive;
        display: flex;
        justify-content: center;
        margin: auto;
    } 
    #baddies{
        font-family: 'Monoton', cursive; 
        display: flex;
        position: absolute;
        justify-content: space-around;
        background-color: #4285F4;
        width: 95%
            
    }
    img{
        height: 150px;
        width: 150px;
    }
    #baddies > div {
        flex: 1;
    }
    button{
        height: 250px;
        width:200px;
    }
    div{
        font-size: 10px;
        /* position: relative; */
        /* border-style: solid; */
        padding: 10px;
        margin: 10px;
        justify-content: center;
    }
    .footerInfo{
        /* position: absolute; */
        left: 0;
        /* bottom: 0; */
        width: 100%;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
}
@media(max-width:600px){
    header{
        font-family: 'Monoton', cursive;
        display: flex;
        justify-content: center;
        margin: auto;
    } 
    #baddies{
        font-family: 'Monoton', cursive; 
        display: inline-block;
        /* position: absolute; */
        justify-content: space-around;
        background-color: #4285F4;
        width: 95%
            
    }
    img{
        height: 150px;
        width: 150px;
    }
    #baddies > div {
        flex: 1;
    }
    button{
        height: 150px;
        width: 100px;
    }
    div{
        font-size: 10px;
        position: relative;
        padding: 10px;
        margin: 10px;
        justify-content: center;
    }
    .footerInfo{
        position: absolute; 
        display: none;
        left: 0;
        bottom: 0;
        height: 0px;
        width: 100%;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    } 

}