.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

html, body {
  background-color: #ffeead;
  height: 100%;
  margin: 10px;
}

.container > div:nth-child(1) {
  background-color: #96ceb4;	
}

.container > div:nth-child(2) {
  background-color: #ff6f69;
}

.container > div:nth-child(3) {
  background-color: #88d8b0;
}
.container > div:nth-child(4) {
  background-color: #ff6f69;
}

/* photo grid so they are all the same size with a bunch of pictures  */
/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container > div > img {
  width: 150px;
  height: 100px;
} */