*{
  margin: 0;
  padding: 5px;
}
body{
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}
.dark-header {
  text-align: center;
  background-color: #333;
  height: 100vh;
  margin: -25px;
  padding: 50px;
  color: #b5b51e;
}

.light-header {
  text-align: center;
  background-color: white;
  height: 100vh;
  margin: -25px;
  padding: 50px;
  color: #333;
}
