body{
  margin: 0;
}
.App{
  text-align: center;
}
.wrapper{
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.weather-info{
  padding: 20px;
}
.formContainer{
  border-radius: 10px;
}